{
    "parser": "babel-eslint",
    "extends": [
        "airbnb"
    ],
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "no-console": "off",
        "comma-dangle": "off",
        "no-tabs": "off",
        "react/jsx-indent": "off",
        "import/no-unresolved": "off",
        "react/jsx-filename-extension": "off"
    }
}